:root {
    --color-background-primary: blanchedalmond;
    --color-background-secondary: #b298e5;
    --color-text-standout: black;
    --color-background-component: #fdc5c5;

    --font-body: 'Quicksand', sans-serif;
    --font-heading: 'Ubuntu', sans-serif;
}