body {
    background: blanchedalmond;
    font-family: 'Quicksand', sans-serif;
}

header {
    background: #b298e5;
    color: black;
}

a {
    color: mediumpurple;
}

ul, li {
    display: inline-table;
    margin-right: 2rem;
}

dt {
    margin-top: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
}