body {
    line-height: 1.5;
    box-sizing: content-box;
    margin: 0;
    font-family: var(--font-body);
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}